/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $cinza75;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $cinza50;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $cinza25;
}
